<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    <link type="text/css" rel="stylesheet" href="login.css"> <!--필수-->
</head>
<body>
    <p>aaaa</p>
     <div>
            {% if form.errors %}
            <p>아이디나 비밀번호가 맞지 않습니다.</p>
            {% endif %}

            login
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit">Login</button>
            </form>
        </div>
</body>
</html>