<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	{% if user.is_active %}
    <div class="container">
	<form action="{% url 'postcreate' %}" enctype="multipart/form-data" method="POST">
	  {% csrf_token %}
	  <h4>메뉴 이름: </h4>
	  <input type="text" name="name">
	  <br>
	  <br>
	  <h4>상세 설명: </h4>
	  <textarea cols=40 rows=10 name="des"></textarea>
	  <br>
	  <br>
	  <h4>이미지: </h4>
	  <input type="file" name="image" accept="image/*">
	  <br>
	  <br>
        <h4>가격: </h4>
	  <input type="text" name="price">
	  <br><br>
        <h4>분류: </h4>
	  <input type="text" name="cat">
	  <br><br>
	  <input class="btn btn-dark" type="submit" value="글쓰기">
	</form>
	</div>
	 {% else %}   #로그인 안하고 접근시 메인 페이지로
        <script type="text/javascript">
            alert('로그인을 먼저 해주세요');
            window.location.href='{%url 'index' %}';
        </script>
    {% endif %}
</body>
</html>