{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/mymenu/menu_list.css' %}">
</head>
<body>
    <div class="left">
        <h1>{{menu.name}}</h1>
        <img src="{{ menu.image.url }}" width="100" height="100">
        <p>{{menu.des}}</p>
        <p>{{menu.price}}</p>
        <p>{{menu.cat}}</p>
       <-----------주문서----------->
       <div class="container">
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" id="menu_id" name="menu_id" value={{menu.menu_id}}>
        <input type="hidden" id="name" name="name" value={{menu.name}}>
        <input type="hidden" id="price" name="price" value={{menu.price}}>

        {{form.as_p}}

             <button type="submit" >장바구니 담기</button>
        </form>
       </div>
        <a href="{% url 'menu_list' %}">리스트 보기</a>
    </div>
    <div class="right">
        <img src = '{% url "feed" %}' width = "500px"  height = "300px">
    </div>


</body>
</html>