<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   {% if user.is_active %}
    <div class="container">
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.non_field_errors }}
			<div class="fieldWrapper">
				{{ form.name.errors }}
				<label for="id_name">이름: </label>
				{{ form.name }}
			</div>
			<br>
			<div class="fieldWrapper">
				{{ form.image.errors }}
				<label for="image">사진: </label>
				{{ form.image }}
			</div>
			<br>
			<p>설명:</p>
			<div class="fieldWrapper">
				{{ form.des.errors }}
				 <label for="id_des"> </label>
				{{ form.des }}
			</div>
			<br>
			<div class="fieldWrapper">
				{{ form.price.errors }}
				<label for="id_price">가격: </label>
				{{ form.price }}
			</div>
			<br>
			<div class="fieldWrapper">
				{{ form.cat.errors }}
				<label for="id_cat">카테고리: </label>
				{{ form.cat }}
			</div>
			<br>
			<button type="submit">저장</button>
		</form>
	</div>
    {% else %}   #로그인 안하고 접근시 메인 페이지로
        <script type="text/javascript">
            alert('로그인을 먼저 해주세요');
            window.location.href='{%url 'index' %}';
        </script>
    {% endif %}
</body>
</html>